<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <div class="page-header">
    <h1>University Registrar</h1>
  </div>
  <h4><a href="/students">Students</a></h4>
  <h4><a href="/courses">Courses</a></h4>
</div>
